<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dotter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Dotter.Properties.Settings>
            <setting name="_DOTCOLOR" serializeAs="String">
                <value>FFFFFFFF</value>
            </setting>
            <setting name="_DOTSIZE" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="_DOTSTROKE" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="_DOTELLIPSE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_DOTCROSS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_DOTTACTIC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_MAPIMGURL" serializeAs="String">
                <value />
            </setting>
            <setting name="_SERVERID" serializeAs="String">
                <value />
            </setting>
            <setting name="_DOTCROSSX1" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="_DOTCROSSY1" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="_DOTCROSSX2" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="_DOTCROSSY2" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="_DOTTOGGLE" serializeAs="String">
                <value>True</value>
            </setting>
        </Dotter.Properties.Settings>
    </userSettings>
</configuration>